{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Lands
{% endblock title %}

{% block landactive %}
active
{% endblock landactive %}

{% block main %}
{% for land in lands%}
<div class="container my-2">
        <div class="card d-flex align-content-start flex-wrap">
            <img class="card-img-top" src="{% static 'img/bg.jpg'%}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{land.length}}x{{land.width}} {{land.city}},India</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Support It</a>
            </div>
        </div>
</div>
{% endfor %}
{% endblock main %}


<!-- styles-->
