*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.main-view{
    width: 100%;
    height: 100vh;
}
.main-view .bg{
    position: absolute;
    width: 100%;
    height: 92vh;  
    background-color: #eee6e4; 
}
.bg img{
    width: 45.4%;
    background-size: cover;
}
.main-view .quote{
    position: absolute;
    height: 40%;
    top: 60%;
    right: -20%;
    transform: translate(-50%,-50%);
}
.quote h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-family: 100px;
    text-align: right;
    color: #535062;
}
#btn{
    outline: none;
    border: none;
    background-color: #535062;
    color: white;
    padding: 0.3em 1em;
    border-radius: 5px;
    position: absolute;
    top: 7em;
    right: 20px;
}
.bg-dark {
    background-color: #535062!important;
}